library ieee;
use ieee.std_logic_1164.all;
{%- if has_std_logic_vector %}
use ieee.numeric_std.all;
{%- endif %}

entity {{ entity_name }} is
    port (
{%- for port in ports %}
        {{ port.name }} : {{ port.direction }} {{ port.type }}{%- if port.width > 1 %}({{ port.width - 1 }} downto 0){%- endif %}{%- if not loop.last %};{% endif %}
{%- endfor %}
    );
end entity {{ entity_name }};